.eated-piece {
  background-color: #dcdcdc;
  border-radius: 0.4rem;
  height: 3rem;
  padding: 0.2rem;
  transition: 0.1s;
  width: 3rem;
}

.eated-piece:hover {
  background-color: #aaffaa;
}

.eated-piece:active {
  transform: scale(0.9);
}


@media screen and (max-width: 425px) {
  .eated-piece {
    border-radius: 0.4rem;
    height: 2rem;
    width: 2rem;
  }
}