.eated-pieces-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  justify-content: space-between;
}

.eated-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
  justify-content: center;
  flex-wrap: wrap-reverse;
  height: calc(15rem + 6px);
  width: calc(9rem + 2px);
}


.blocked {
  pointer-events: none;
}


@media screen and (max-width: 425px) {
  .eated-pieces-panel {
    height: 4.4rem;
  }

  .eated-player {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    gap: 2px;
    height: auto;
    width: auto;
  }
}