.player-turn-panel {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  justify-content: space-between;
}

.player-turn {
  background-color: gainsboro;
  box-shadow: 0 0 8px #fffefe66;
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
  padding: 1rem;
}

.current {
  opacity: 0.4;
}