.eated-piece {
  border: 1px solid #140014;
  background-color: #dcdcdc;
  border-radius: 0.4rem;
  height: 3rem;
  padding: 0.2rem;
  transition: 0.1s;
  width: 3rem;
}

.eated-piece:hover {
  background-color: #aaffaa;
}

.eated-piece:active {
  transform: scale(0.9);
}