.eated-pieces {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-between;
}

.eated-player {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  gap: 1px;
  height: calc(15rem + 4px);
  width: calc(9rem + 2px);
}