.eated-pieces {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  justify-content: space-between;
}

.eated-player {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  height: 12rem;
  width: 9rem;
}

.restore {
  border: 1px dashed lime;
}