.eated-pieces-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  justify-content: space-between;
}

.eated-player {
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1px;
  flex-wrap: wrap-reverse;
  height: calc(12rem + 5px);
  width: calc(6rem + 3px);
}


.blocked {
  pointer-events: none;
}