.chess-board {
  background-color: #fff;
  box-shadow: 0 0 6px #fff;
  border-radius: 0.4rem;
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(8, auto);
  padding: 1px;
}