.player-turn-panel {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-between;
  align-items: center;
  position: relative;
}


.player-turn {
  background-color: #dcdcdc;
  box-shadow: 0 0 4px #fff;
  border-radius: 0.4rem;
  height: 6rem;
  width: 6rem;
  padding: 0.5rem;
}


.last-move {
  background-color: #dcdcdc;
  box-shadow: 0 0 4px #fff;
  border: none;
  border-radius: 0.4rem;
  color: #140014;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  height: 3rem;
  width: 6rem;
  transition: 0.1s;
}


.last-move:hover {
  background-color: #dbc5a7;
}


.last-move:active {
  transform: scale(0.9);
}


.disabled {
  opacity: 0.2;
  pointer-events: none;
}


.restart-chess {
  background-color: #dcdcdc;
  box-shadow: 0 0 4px #fff;
  border: none;
  border-radius: 0.4rem;
  color: #140014;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  height: 3rem;
  width: 6rem;
  transition: 0.1s;
}


.restart-chess:hover {
  background-color: #ff6969;
  box-shadow: 0 0 4px #ff6969;
}


.restart-chess:active {
  transform: scale(0.9);
}